.dropdown {
    margin: 8px;
    display: flex;
    flex-direction: column;
    line-height: 25px;
}

.dropdown-label {
    padding: 10px;
    border-radius: 10px;
}

.dropdown-select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.dropdown-item__disabled {
    display: none;
}

.info-message {
    font-weight: bold;
    color: #B00020;
    text-align: center;
}


@media only screen and (min-device-width: 768px) {
    .info-message {
        width: 100%;
        font-size: 21px;
    }
}