.App {
  font-size: 14px;
  padding: 12px;
  background-color: #FFFFFF;

}

.header-message {
  font-weight: bold;
  font-size: 21px;
  color: #6200EE;
  text-align: center;
}

.apply-button {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: #6200EE;
  color: #FFFFFF;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
  margin: 8px;
}

.loading-header {
  font-weight: bold;
  font-size: 21px;
  color: #3700B3;
  text-align: center;
}


@media only screen and (min-device-width: 768px) {
  .App {
    font-size: 18px;
  }

  .header-message {
    font-size: 24px;
  }

  .dropdowns-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .apply-button {
    width: 150px;
    height: 40px;
    align-self: flex-end;
  }
}