.App {
  font-size: 14px;
  padding: 12px;
  background-color: #FFFFFF;

}

.header-message {
  font-weight: bold;
  font-size: 21px;
  color: #6200EE;
  text-align: center;
}

.apply-button {
  appearance: none;
  -webkit-appearance: none;
  padding: 10px;
  border: none;
  background-color: #6200EE;
  color: #FFFFFF;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
}

.loading-header {
  font-weight: bold;
  font-size: 21px;
  color: #3700B3;
  text-align: center;
}